body {
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  background-repeat: no-repeat;
  background-color: white;

}
#container  img {
  /*  background-image: url("img/index_background.jpg");*/
  /*width: 100%;
  height: 100%;--------ici pr plein ecran*/
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  position: absolute; z-index: 1;
}

#navbar img {
  /*background-image: url("/img/bar_background.jpg");*/
  margin-top: 180px;
  position: absolute; z-index: 4;

}
#item_navbar{
  margin-left: 70px;

}
li  {
  list-style: none;
  display: inline-block;
  vertical-align: middle;
  margin-top: 30px;
  margin-right: 50px;
}
a {
}

a hover {
  opacity: 50;
}
