/*///////////////////////////-----CSS ECRAN DESKTOP---------------////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////*/

@media all and (min-width: 900px) {

body {
  background-image: url("img/index_background.jpg");
  margin: 0 auto;
  background-color: white;
  background-repeat: no-repeat;
  background-color: white;
  overflow: hidden;
  font-size: 62.5%;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;

}

#nav  {

width: 54%;
height: 23%;
background-color: rgba(251, 244, 235, 0.7);
margin-top: 20%;
margin-left: 21%;
border-radius: 6px;
position: absolute;
z-index: 4;
display: inline-block;

}
li img {
    
    display: inline-block;
    position: absolute; z-index: 5;
    margin: 0 auto;

}

li  {
    list-style: outside none none;
  display: inline-block;
  vertical-align: middle;
  margin-right: 3.8%;
}

li a {
    opacity: 1.0;
    margin: 0 auto;

}

  li a :hover {
  opacity: 0.7;
  color: grey;

   }
   }

   /*///////////////////////////-----CSS TABLETTE---------------////////////////////////////////
   ///////////////////////////////////////////////////////////////////////////////////////////////*/
@media all and (min-width: 481px) and (max-width: 899px) {

    body {
      background-image: url("img/index_background.jpg");
      margin: 0 auto;
      background-color: white;
      background-repeat: no-repeat;
      background-color: white;
      overflow: hidden;
      font-size: 62.5%;


    }

    #nav  {

        width: 76%;
        height: 50%;
        background-color: rgba(251,244,235, 0.7);
        margin-top: 20%;
        margin-left: 10%;
        border-radius: 6px;
        position: absolute; z-index: 4;
        display: inline-block;
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;

        padding: 0 auto;

    }
    #item img{
        display: inline-block;
        position: absolute; z-index: 5;
        margin: 0 auto;

    }

    li  {
      list-style: none;
      display: inline-block;
      vertical-align: middle;
      /*margin-top: 30px;*/
      margin-right: 2.8%;
    }

    li a {
        opacity: 1.0;
        margin: 0 auto;

    }

      li a :hover {
      opacity: 0.7;
      color: grey;

       }
       }


   /*///////////////////////////-----CSS ECRAN SMARTPHONE---------------////////////////////////////
   ///////////////////////////////////////////////////////////////////////////////////////////////*/

@media all and (max-width: 480px) {

    body {
      background-image: url("img/index_background.jpg");
      margin: 0 auto;
      background-color: white;
      background-repeat: no-repeat;
      background-color: white;
      overflow: hidden;
      font-size: 62.5%;

    }

    #nav  {

        width: 76%;
        height: 20%;
        background-color: rgba(251,244,235, 0.7);
        margin-top: 20%;
        margin-left: 10%;
        border-radius: 6px;
        position: absolute; z-index: 4;
        display: inline-block;

        padding: 0 auto;

    }
    #item img{
        display: inline-block;
        position: absolute; z-index: 5;
        margin: 0 auto;

    }

    li  {
      list-style: none;
      display: inline-block;
      vertical-align: middle;
      /*margin-top: 30px;*/
      margin-right: 2.8%;
    }

    li a {
        opacity: 1.0;
        margin: 0 auto;

    }

      li a :hover {
      opacity: 0.7;
      color: grey;

       }
       }
